Repository EntraptaJ/archive-minecraft-management: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-ui

build-api:
  stage: build
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd ./services/API
  - docker build -t "$CI_REGISTRY_IMAGE:API" . -f Dockerfile
  - docker push "$CI_REGISTRY_IMAGE:API"

build-ui:
  stage: build
  before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
  - cd ./services/UI
  - docker build -t "$CI_REGISTRY_IMAGE:UI" . -f Dockerfile
  - docker push "$CI_REGISTRY_IMAGE:UI"

fix: Fix discord notifications
  services/API/src/API/Minecraft/Admin/index.ts
Due: build-api

feat: Register Form. style: Cleanup repo. Tidy up for GitHub publish latter
  services/API/src/API/Auth/index.ts
  services/API/src/API/Middleware/AuthChecker.ts
  services/API/src/API/Minecraft/Admin/Configs/index.ts
  services/API/src/API/Minecraft/Admin/RCONPubSub.ts
  services/API/src/API/Minecraft/Admin/index.ts
  services/API/src/API/Minecraft/ServerStatus.ts
  services/API/src/API/Minecraft/StatusType.ts
  services/API/src/API/Minecraft/index.ts
  services/API/src/API/Mutations.ts
  services/API/src/API/UI/MenuItemType.ts
  services/API/src/API/UI/index.ts
  services/API/src/API/index.ts
  services/API/src/RCON/index.ts
  services/API/src/Utils/Docker.ts
  services/API/src/index.ts
  services/UI/ui/Components/Admin/ConfigView/index.tsx
  services/UI/ui/Components/Admin/Layout.tsx
  services/UI/ui/Components/Admin/Mods/index.tsx
  services/UI/ui/Components/ConfigProvider/index.tsx
  services/UI/ui/Components/Layout/index.tsx
  services/UI/ui/Components/Loading/index.tsx
  services/UI/ui/Components/NavBar/NavItem/index.tsx
  services/UI/ui/Components/NavBar/index.tsx
  services/UI/ui/Components/NavBar/types.tsx
  services/UI/ui/Components/RegisterForm/REGISTER.graphql
  services/UI/ui/Components/RegisterForm/Styles.tsx
  services/UI/ui/Components/RegisterForm/index.tsx
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/Prop.tsx
  services/UI/ui/client.tsx
  services/UI/ui/lib/initApollo.tsx
  services/UI/ui/lib/styles.tsx
  services/UI/ui/routes/Admin/Chat.tsx
  services/UI/ui/routes/Admin/index.tsx
  services/UI/ui/routes/Authenication/Login/index.tsx
  services/UI/ui/routes/Authenication/Register/index.tsx
  services/UI/ui/routes/Home/index.tsx
Due: build-api, build-ui

fix(Login ApolloCache): Clear Apollo Cache after login
  services/UI/ui/Components/LoginForm/index.tsx
Due: build-ui

feat: UI Work
  services/API/src/API/Minecraft/index.ts
  services/API/src/API/UI/MenuItemType.ts
  services/API/src/API/UI/MenuItems.ts
  services/API/src/API/UI/index.ts
  services/UI/nodemon.json
  services/UI/ui/App.css
  services/UI/ui/App.tsx
  services/UI/ui/Components/Admin/ConfigView/index.tsx
  services/UI/ui/Components/Layout/AppBar/index.tsx
  services/UI/ui/Components/Layout/AppTop/NavItem/handleItems.tsx
  services/UI/ui/Components/Layout/AppTop/NavItem/index.tsx
  services/UI/ui/Components/Layout/AppTop/NavItems.graphql
  services/UI/ui/Components/Layout/AppTop/index.tsx
  services/UI/ui/Components/Layout/AppTop/types.tsx
  services/UI/ui/Components/Layout/Nav/NavItem/index.tsx
  services/UI/ui/Components/Layout/Nav/index.tsx
  services/UI/ui/Components/Layout/getNav.graphql
  services/UI/ui/Components/Layout/index.tsx
  services/UI/ui/Components/LoginForm/Styles.tsx
  services/UI/ui/Components/LoginForm/index.tsx
  services/UI/ui/Components/RegisterForm/Styles.tsx
  services/UI/ui/Components/RegisterForm/index.tsx
  services/UI/ui/lib/styles.tsx
  services/UI/ui/routes/Home/MCStatus.graphql
  services/UI/ui/routes/Home/getStatus.graphql
  services/UI/ui/routes/Home/index.tsx
  services/UI/ui/routes/Mods/index.tsx
  services/UI/ui/routes/index.tsx
Due: build-api, build-ui

style: Cleanup Console/Log boxes
  services/UI/ui/Components/Admin/ConsoleBox/index.tsx
  services/UI/ui/Components/Admin/LogBox/index.tsx
Due: build-ui

style: Cleanup COnsole anf Logs
  services/UI/ui/Components/Admin/ConsoleBox/index.tsx
  services/UI/ui/Components/Admin/LogBox/index.tsx
Due: build-ui

feat: Work on log box
  services/UI/ui/Components/Admin/LogBox/index.tsx
Due: build-ui

fix: Sort mods alphabetically by name
  services/API/src/API/Minecraft/Admin/Mods/getMods.ts
Due: build-api

feat: Add TellRaw
  services/API/src/API/Minecraft/Admin/index.ts
Due: build-api

fix: Return type
  services/API/src/API/Minecraft/Admin/index.ts
Due: build-api

feat: Begin tell raw page, Backups! Mod toggling! Other design shit. Perf upgrades
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Auth/index.ts
  services/API/src/API/Minecraft/Admin/Backups/API.json
  services/API/src/API/Minecraft/Admin/Backups/BackupType.ts
  services/API/src/API/Minecraft/Admin/Backups/getBackups.ts
  services/API/src/API/Minecraft/Admin/Backups/index.ts
  services/API/src/API/Minecraft/Admin/Configs/listConfigs.ts
  services/API/src/API/Minecraft/Admin/Configs/saver.ts
  services/API/src/API/Minecraft/Admin/FileType.ts
  services/API/src/API/Minecraft/Admin/Mods/getMods.ts
  services/API/src/API/Minecraft/Admin/Mods/index.ts
  services/API/src/API/Minecraft/Admin/index.ts
  services/API/src/API/Minecraft/ModType.ts
  services/API/src/API/Minecraft/index.ts
  services/API/src/API/UI/MenuItems.ts
  services/UI/package-lock.json
  services/UI/package.json
  services/UI/ui/Components/Admin/BackupList/index.tsx
  services/UI/ui/Components/Admin/Mods/index.tsx
  services/UI/ui/Components/Admin/Mods/toggleMod.graphql
  services/UI/ui/Components/Admin/TellRaw/Screen Shot 2019-07-07 at 8.54.58 AM.png
  services/UI/ui/Components/Admin/TellRaw/index.tsx
  services/UI/ui/Components/Admin/TellRaw/tellRaw.graphql
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/routes/Admin/Backups/createBackup.graphql
  services/UI/ui/routes/Admin/Backups/getBackups.graphql
  services/UI/ui/routes/Admin/Backups/index.tsx
  services/UI/ui/routes/Admin/TellRaw/index.tsx
Due: build-api, build-ui

feat: Stop server. And restore backups!
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Minecraft/Admin/Backups/getBackups.ts
  services/API/src/API/Minecraft/Admin/Backups/index.ts
  services/UI/ui/Components/Admin/BackupList/index.tsx
  services/UI/ui/Components/Admin/BackupList/restoreBackup.graphql
  services/UI/ui/routes/Admin/Home/index.tsx
  services/UI/ui/routes/Admin/Home/stopServer.graphql
Due: build-api, build-ui

feat: Twitch search mods!
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Minecraft/Twitch/API.json
  services/API/src/API/Minecraft/Twitch/TwitchTypes.ts
  services/API/src/API/Minecraft/Twitch/index.ts
  services/API/src/API/UI/MenuItems.ts
  services/API/src/got/index.d.ts
  services/API/src/index.d.ts
  services/API/tsconfig.json
  services/UI/ui/Components/Admin/SearchMods/ModCard/downloadCurseMod.graphql
  services/UI/ui/Components/Admin/SearchMods/ModCard/index.tsx
  services/UI/ui/Components/Admin/SearchMods/index.tsx
  services/UI/ui/Components/Admin/SearchMods/searchMods.graphql
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/routes/Admin/SearchMods/index.tsx
Due: build-api, build-ui

fix: Download the latest stable!
  services/API/src/API/Minecraft/Twitch/TwitchTypes.ts
  services/API/src/API/Minecraft/Twitch/index.ts
Due: build-api

feat: DB Configs
  services/API/src/API/Config/API.json
  services/API/src/API/Config/index.ts
  services/API/src/API/Minecraft/index.ts
  services/API/src/API/UI/MenuItems.ts
  services/API/src/Models/Config.ts
  services/API/src/Models/User.ts
  services/API/src/index.ts
  services/UI/ui/Components/Admin/Settings/index.tsx
  services/UI/ui/Components/Admin/Settings/updateSettings.graphql
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/routes/Admin/Settings/getSettings.graphql
  services/UI/ui/routes/Admin/Settings/index.tsx
Due: build-api, build-ui

feat: fix
  services/API/src/Models/Config.ts
Due: build-api

feat: Add Progress to Create backup button to show actions
  services/UI/ui/routes/Admin/Backups/index.tsx
Due: build-ui

feat: Mods sorted properly for real real real this time
  services/API/src/API/Minecraft/Admin/Mods/getMods.ts
Due: build-api

feat: Mods sorted for real pt2
  services/API/src/API/Minecraft/Admin/Mods/getMods.ts
Due: build-api

feat: RCON Auto connection, Rework restart, stop server API and UI. Add Refresh to Mods management. Few other thing probally
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Config/index.ts
  services/API/src/API/Minecraft/Admin/RCONPubSub.ts
  services/API/src/API/Minecraft/Admin/Server/API.json
  services/API/src/API/Minecraft/Admin/Server/index.ts
  services/API/src/API/Minecraft/Admin/index.ts
  services/API/src/Discord/index.ts
  services/API/src/Models/Config.ts
  services/API/src/RCON/index.ts
  services/API/src/Utils/Discord.ts
  services/API/src/Utils/RCON.ts
  services/API/src/Utils/Server.ts
  services/API/src/index.ts
  services/UI/ui/Components/Admin/BackupDialog/createBackup.graphql
  services/UI/ui/Components/Admin/BackupDialog/index.tsx
  services/UI/ui/Components/Admin/BackupSettingsDialog/index.tsx
  services/UI/ui/Components/Admin/ConfigView/index.tsx
  services/UI/ui/Components/Admin/Mods/index.tsx
  services/UI/ui/Components/Admin/RestartServer/index.tsx
  services/UI/ui/Components/Admin/RestartServer/restartServer.graphql
  services/UI/ui/Components/Admin/SearchMods/ModCard/index.tsx
  services/UI/ui/Components/Admin/SearchMods/index.tsx
  services/UI/ui/Components/Admin/Settings/index.tsx
  services/UI/ui/Components/Admin/StopServer/index.tsx
  services/UI/ui/Components/Admin/StopServer/stopServer.graphql
  services/UI/ui/routes/Admin/Backups/index.tsx
  services/UI/ui/routes/Admin/Home/index.tsx
  services/UI/ui/routes/Admin/Settings/getSettings.graphql
  services/UI/ui/routes/Home/Styles.tsx
  services/UI/ui/routes/Mods/index.tsx
Due: build-api, build-ui

fix: Correct mutations in correct spot
  services/UI/ui/Components/Admin/RestartServer/restartServer.graphql
  services/UI/ui/Components/Admin/StopServer/stopServer.graphql
Due: build-ui

feat: Show disabled mods as disabled in lists
  services/API/src/API/Minecraft/ModType.ts
  services/UI/ui/Components/Admin/Mods/index.tsx
  services/UI/ui/routes/Mods/Mods.graphql
  services/UI/ui/routes/Mods/index.tsx
Due: build-api, build-ui

fix: Fix layered paths
  services/API/src/API/Minecraft/Admin/Mods/getMods.ts
  services/API/src/index.ts
Due: build-api

feat(Launcher): Release ready MCLauncher
  services/Launcher/app/main/App/Settings.ts
  services/Launcher/app/main/Java/findJava.ts
  services/Launcher/app/main/Minecraft/Authenication.ts
  services/Launcher/app/main/Minecraft/InstallGame.ts
  services/Launcher/app/main/Minecraft/Launch.ts
  services/Launcher/app/main/Minecraft/Mods.ts
  services/Launcher/app/main/main.ts
  services/Launcher/app/renderer/App.tsx
  services/Launcher/app/renderer/components/AppBar/index.tsx
  services/Launcher/app/renderer/components/Layout/NavBar/NavItem/index.tsx
  services/Launcher/app/renderer/components/Layout/NavBar/index.tsx
  services/Launcher/app/renderer/pages/Home.tsx
  services/Launcher/app/renderer/pages/Login.tsx
  services/Launcher/app/renderer/pages/Settings.tsx
  services/Launcher/app/renderer/router.tsx
  services/Launcher/package-lock.json
  services/Launcher/package.json
  services/Launcher/session.json
Due: none

feat: Proper name
  services/Launcher/app/main/tests/main.spec.ts
  services/Launcher/app/renderer/index.html
  services/Launcher/package.json
Due: none

Path conditions:
  build-api: any of: services/API/**/*
  build-ui: any of: services/UI/**/*
