Repository EntraptaJ/archive-minecraft-management: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-api, build-ui

.gitlab-ci.yml:

variables:
  DOCKER_DRIVER: overlay2

build-api:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd ./services/API
    - docker build -t "$CI_REGISTRY_IMAGE:API" . -f Dockerfile
    - docker push "$CI_REGISTRY_IMAGE:API"
  only:
    changes:
      - services/API/**/*

build-ui:
  stage: build
  before_script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY
  script:
    - cd ./services/UI
    - docker build -t "$CI_REGISTRY_IMAGE:UI" . -f Dockerfile
    - docker push "$CI_REGISTRY_IMAGE:UI"
  only:
    changes:
      - services/UI/**/*

feat: Add API.json to build
  services/API/tsconfig.json
Due: build-api

feat: Use new official API
  services/UI/bin/lib/build.ts
Due: build-ui

fix: Fix me
  services/UI/bin/lib/build.ts
Due: build-ui

fix: Stuff
  services/UI/ui/server.tsx
Due: build-ui

fix: More stuff
  services/UI/ui/server.tsx
Due: build-ui

fix: Again
  services/UI/ui/client.tsx
Due: build-ui

feat: Fix more srtuff
  services/UI/ui/client.tsx
  services/UI/ui/server.tsx
Due: build-ui

feat: Stuff
  services/UI/ui/server.tsx
Due: build-ui

fix: Fix mods.zip issue
  services/API/src/index.ts
Due: build-api

feat: Create temp file path
  services/API/package-lock.json
  services/API/package.json
  services/API/src/index.ts
Due: build-api

feat: Do this instead
  services/API/src/index.ts
Due: build-api

feat: This works better
  services/API/src/index.ts
Due: build-api

fix: Remove dist from repo
  services/UI/dist/CSS.json
  services/UI/dist/package-lock.json
  services/UI/dist/package.json
  services/UI/dist/public/Authenication.73d45f59.js
  services/UI/dist/public/Authenication.83c16f5b.css
  services/UI/dist/public/Home.380dec6a.css
  services/UI/dist/public/Home.4dd9848f.js
  services/UI/dist/public/client.js
  services/UI/dist/public/parcel-manifest.json
  services/UI/dist/server/Authenication.83c16f5b.css
  services/UI/dist/server/Authenication.d7a4926f.js
  services/UI/dist/server/Home.380dec6a.css
  services/UI/dist/server/Home.4dd9848f.js
  services/UI/dist/server/UIMiddleware.js
  services/UI/dist/server/index.js
  services/UI/dist/server/parcel-manifest.json
  services/UI/dist/server/server.0743a40d.js
  services/UI/dist/server/server.js
  services/UI/dist/server/server.json
  services/UI/dist/server/server.urls
Due: build-ui

fix: Attempt!
  services/API/src/index.ts
Due: build-api

feat: Fix.
  services/API/src/index.ts
Due: build-api

fix: Remove dev temp stuff
  services/API/src/index.ts
Due: build-api

feat: invidual mod download
  services/API/src/index.ts
  services/UI/src/index.ts
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/routes/Home/index.tsx
  services/UI/ui/routes/Mods/Mods.graphql
  services/UI/ui/routes/Mods/index.tsx
  services/UI/ui/server.tsx
Due: build-api, build-ui

fix: Fix server thing
  services/UI/ui/server.tsx
Due: build-ui

feat: Fix issue
  services/UI/ui/server.tsx
Due: build-ui

feat: Add public and add manifest
  services/UI/public/favicon-16x16.png
  services/UI/public/favicon-32x32.png
  services/UI/public/favicon.ico
  services/UI/public/icons-192.png
  services/UI/public/icons-512.png
  services/UI/public/manifest.json
Due: build-ui

feat: Copy public
  services/UI/bin/lib/build.ts
Due: build-ui

feat: Fix stuff
  services/UI/ui/client.tsx
  services/UI/ui/server.tsx
Due: build-ui

fix: Public docker
  services/UI/Dockerfile
Due: build-ui

feat: Remove shit
  services/UI/bin/lib/build.ts
  services/UI/ui/lib/initApollo.tsx
Due: build-ui

fix: fix RCON
  services/API/src/API/Minecraft/Admin/RCONPubSub.ts
Due: build-api

fix: Sockets
  services/UI/ui/lib/initApollo.tsx
Due: build-ui

feat: Try to do this
  services/UI/ui/lib/initApollo.tsx
Due: build-ui

feat: Stuff
  services/UI/ui/client.tsx
  services/UI/ui/lib/initApollo.tsx
Due: build-ui

fix: Stuff
  services/UI/ui/client.tsx
Due: build-ui

fix: Add slash
  services/UI/ui/lib/initApollo.tsx
Due: build-ui

feat: Stuff and things!
  README.md
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Minecraft/Admin/Configs/API.json
  services/API/src/API/Minecraft/Admin/Configs/index.ts
  services/API/src/API/Minecraft/Admin/Configs/listConfigs.ts
  services/API/src/API/Minecraft/Admin/Configs/parser.ts
  services/API/src/API/Minecraft/Admin/index.ts
  services/API/src/API/UI/index.ts
  services/UI/package-lock.json
  services/UI/package.json
  services/UI/ui/App.css
  services/UI/ui/App.tsx
  services/UI/ui/Components/Admin/ChatBox/index.tsx
  services/UI/ui/Components/Admin/ConfigView/getConfig.graphql
  services/UI/ui/Components/Admin/ConfigView/index.tsx
  services/UI/ui/Components/Admin/Layout.tsx
  services/UI/ui/Components/Admin/Mods/index.tsx
  services/UI/ui/Components/ConfigProvider/index.tsx
  services/UI/ui/Components/Layout/index.tsx
  services/UI/ui/Components/Loading/index.tsx
  services/UI/ui/Components/NavBar/NavItem/handleItems.tsx
  services/UI/ui/Components/NavBar/index.tsx
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/Document.tsx
  services/UI/ui/client.tsx
  services/UI/ui/routes/Admin/Chat.tsx
  services/UI/ui/routes/Admin/ConfigMod.tsx
  services/UI/ui/routes/Admin/Logs.tsx
  services/UI/ui/routes/Admin/Mods.tsx
  services/UI/ui/routes/Home/index.tsx
  services/UI/ui/routes/Mods/index.tsx
  services/UI/ui/routes/index.tsx
  services/UI/ui/server.tsx
Due: build-api, build-ui

feat: Stuff
  services/UI/ui/routes/Admin/Logs.tsx
  services/UI/ui/routes/Mods/index.tsx
Due: build-ui

feat: Fix stuff
  services/UI/ui/Components/Admin/LogBox/Logs.graphql
  services/UI/ui/Components/Admin/LogBox/index.tsx
  services/UI/ui/routes/Admin/Logs.tsx
Due: build-ui

feat: Add service worker
  services/UI/package-lock.json
  services/UI/package.json
  services/UI/ui/client.tsx
  services/UI/ui/service-worker.ts
Due: build-ui

feat: Fix route transitions
  services/UI/ui/Prop.tsx
Due: build-ui

feat: Fix up route transition props
  services/UI/ui/Prop.tsx
Due: build-ui

feat(Admin Menu): Add server Log
  services/API/src/API/UI/index.ts
Due: build-api

fix: Stuff
  services/UI/ui/Prop.tsx
Due: build-ui

feat: Lots of work on many things
  docker-compose.yml
  services/API/dev.sh
  services/API/package-lock.json
  services/API/package.json
  services/API/src/API/Minecraft/Admin/RCONPubSub.ts
  services/API/src/API/Minecraft/Admin/index.ts
  services/API/src/API/Minecraft/StatusType.ts
  services/API/src/API/Minecraft/index.ts
  services/API/src/Discord/index.ts
  services/API/src/RCON/index.ts
  services/API/src/Utils/Docker.ts
  services/API/src/index.ts
  services/UI/dev.sh
  services/UI/nodemon.json
  services/UI/package-lock.json
  services/UI/package.json
  services/UI/src/UIMiddleware.ts
  services/UI/ui/Components/Admin/ConfigView/index.tsx
  services/UI/ui/Components/Admin/LogBox/index.tsx
  services/UI/ui/Components/Routes.tsx
  services/UI/ui/Prop.tsx
  services/UI/ui/client.tsx
  services/UI/ui/routes/Admin/Chat.tsx
  services/UI/ui/routes/Admin/ConfigMod.tsx
  services/UI/ui/routes/Admin/index.tsx
  services/UI/ui/routes/Admin/serverStatus.graphql
  services/UI/ui/routes/Admin/startServer.graphql
  services/UI/ui/routes/Home/MCStatus.graphql
  services/UI/ui/routes/Home/index.tsx
Due: build-api, build-ui
